package {{packageName}};

import javax.enterprise.context.RequestScoped;
import javax.inject.Inject;
import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

@RequestScoped
@Path("hello")
public class HelloEndpoint {

    @GET
    @Produces(MediaType.TEXT_PLAIN)
    public Response hello(){
        return Response.status(Response.Status.OK).entity("Hello KumuluzEE!").build();
    }

}