FROM openjdk:8
LABEL{{#name}} name="{{name}}"{{/name}}{{#description}} description="{{description}}"{{/description}}

ENV DEPLOY_DIR /opt

COPY {{executableName}} ${DEPLOY_DIR}

ENTRYPOINT java -jar ${DEPLOY_DIR}/{{executableName}}
EXPOSE {{port}}