package {{packageName}};

import javax.enterprise.context.RequestScoped;
import java.sql.Timestamp;
import java.time.Instant;

@RequestScoped
public class HelloService {

    public String sayHello(){
        return "Hello Kumuluz at " + Timestamp.from(Instant.now());
    }

}